<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329818969234-i0mgdjcp9vvvq9cgot56ejupd8nl0f0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329818969234-i0mgdjcp9vvvq9cgot56ejupd8nl0f0j</string>
	<key>API_KEY</key>
	<string>AIzaSyBU6EXXd5SExqW9An6PFj-oBOJP8YEG7Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>329818969234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2f0d7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2f0d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329818969234:ios:ea5430dcc4472fdc12c24b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2f0d7.firebaseio.com</string>
</dict>
</plist>